body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FF6633;
}

header {
  text-align: center;
  background-color: #FF99FF;
  color: #fff;
  padding: 20px 0;
}

section {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #CC66FF;
  color: red;
}


